$base0:3px;
$base1:6px;
$base2:12px;
$base3:18px;
$base4:24px;
$base5:30px;
$base6:36px;
$base7:42px;
$base10:60px;
$base12:72px;
$base14:84px;
$base17:102px;
$base19:114px;
$base22:132px;
$base24:144px;